/* 
Base Configuration, modified from i3-style with a new look.
For more information about configuration options, please visit their documentation https://github.com/amnweb/yasb/wiki
*/
:root {
    --line: rgb(125, 125, 125);
    --power_menu_elem_bg: rgba(15, 15, 15, 1);
    --power_menu_elem_hover: rgba(45, 45, 45, 1);
    --power_menu_buttons: rgba(100, 100, 100, 1);
    --power_menu_border: rgba(200, 200, 200, 1);
    --bar_bg: #000000;
    --workspace_active: rgb(200, 200, 200);
    --workspace_inactive: #707070;
    --workspace_empty: #707070;
    --workspace_hover: #404040;
    --text: rgb(200, 200, 200);
    --text_alt: rgb(150, 150, 150);
    --widget_bg: rgba(20, 20, 20, 1);
    --widget_bg_alt: rgba(13, 13, 13, 1);
    --widget_border: rgba(40, 40, 40, 1);
    --progress_bar_load: rgb(135, 135, 135);
	--wifi_pass: rgb(160, 160, 160);
    --tooltip_color: rgba(25, 25, 25, 1);
    --context_menu_bg: rgb(20, 20, 20);
    --text_unchecked: #999;
    --context_menu_box_checked: rgb(225, 225, 225);
    --context_menu_box_unchecked: rgb(50, 50, 50);
    --context_menu_separator: rgb(80, 80, 80);
    --context_menu_disabled: rgb(100, 100, 100);
    --text_hover: #FFFFFF;
}

/*                                 COMMON YASB ELEMENTS                          */
* {
    font-size: 13px;
    color: var(--text);
    font-weight: 750;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
}
.yasb-bar {
    padding: 0 2px;
    margin: 0;
    background-color: var(--bar_bg);
}

.widget {
    padding: 0 3px;
    margin: 0;
}
.icon {
    font-size: 14px;
}
.widget .label {
    padding: 0px 2px;
}

/*                                      WIDGETS                                     */
/*              Power Menu                     */
.power-menu-widget .label {
    padding: 0 2px 0 2px;
}
.power-menu-popup {
    background: transparent;
}
.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 0px;
    background-color: var(--power_menu_elem_bg);
    color: var(--text);
    border-left: 4px solid rgba(58, 59, 83, 0);
    border-right: 4px solid rgba(58, 59, 83, 0);
    border-top: 4px solid rgba(58, 59, 83, 0);
    border-bottom: 4px solid rgba(58, 59, 83, 0);
    margin: 0px;
}
.power-menu-popup .button.hover {
    background-color: var(--power_menu_elem_hover);
    border-left: 4px solid var(--power_menu_border);
    border-right: 4px solid var(--power_menu_border);
    border-top: 4px solid var(--power_menu_border);
    border-bottom: 4px solid var(--power_menu_border);
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}
.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--power_menu_buttons);
}
.uptime{
    font-size: 26px;
    margin-bottom: 60px;
    background: transparent;
    border-radius: 0px;
    margin-left: 625px;
    margin-right: 625px;

}


/*                          GlazeWM                              */
.glazewm-workspaces {
    margin: 0;
}

.glazewm-workspaces .ws-btn {
    background-color: transparent;
    border: none;
    padding:1px 2px 0 4px;
    margin: 0 2px 0 2px;
    font-size: 14px;
}

.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
    color: var(--workspace_active);
}

.glazewm-workspaces .ws-btn.populated {
    color: var(--workspace_inactive);
}

.glazewm-workspaces .ws-btn.empty {
    color: var(--workspace_empty);
}

.glazewm-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn.populated:hover,
.glazewm-workspaces .ws-btn.empty:hover {
    color: var(--workspace_hover);
}

/*                          Media                              */
.media-widget {
    padding: 0;
    margin: 0;
}
.media-widget .label {
    color: var(--text);
    padding: 0px;
    padding-left: 4px;
    font-size: 12px;
}

.media-menu {
    min-width: 420px;
    max-width: 420px;
    background-color: var(--widget_bg);
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}
.media-menu .artist {
    font-size: 13px;
    color: #6c7086;
    margin-top: 0px;
    margin-bottom: 8px;
}
.media-menu .source {
    font-size: 11px;
    color: #000;
    font-weight: normal;
    border-radius: 0px;
    background-color: #bac2de;
    padding: 2px 4px;

}
/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase. 
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.firefox {
    background-color: #ff583b;
    color: #ffffff;
}
.media-menu .source.spotify {
    background-color: #199143;
    color: #ffffff;
}
.media-menu .source.edge {
    background-color: #0078d4;
    color: #ffffff;
}
.media-menu .source.windows-media {
    background-color: #0078d4;
    color: #ffffff;
}

.media-menu .btn {
    font-family: "Segoe Fluent Icons";
    font-size: 14px;
    font-weight: 400;
    margin: 10px 2px 0px 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 0px;
}
.media-menu .btn.prev {
    margin-left: 10px;
}
.media-menu .btn:hover {
    color: white;
}
.media-menu .btn.play {
    font-size: 16px
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
    color: #4e525c;
    background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
    font-size: 13px;
    color: var(--text_alt);
    margin-top: 20px;
    min-width: 100px;
}
.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
}
.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);

}
.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
}
.media-menu .progress-slider::sub-page {
    background: white;
    border-radius: 3px;
    height: 4px;
}

/*                                  System Tray                         */
.systray {
    background: transparent;
    border: None;
    margin: 0;
}

.systray .unpinned-container {
    background: transparent;
    border-radius: 8px;
}

.systray .pinned-container {
    background: transparent;
}

.systray .pinned-container[forceshow=true] {
    background: rgba(0, 0, 0, 0);
}

.systray .button {
    border-radius: 4px;
    padding: 2px 2px;
    background: transparent;
}

.systray .button:hover {
    background: rgb(44, 44, 44);
}

.systray .button[dragging=true] {
    background: rgb(88, 88, 88);
    border-color: rgb(88, 88, 88);
}

.systray .unpinned-visibility-btn {
    border-radius: 4px;
    height: 20px;
    width: 16px;
}

.systray .unpinned-visibility-btn:checked {
    background: rgba(0, 0, 0, 0);
}

.systray .unpinned-visibility-btn:hover {
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    border-color: #AAAAAA;
}

/*                          Wi-Fi                           */
.wifi-widget {
    padding: 0;
    margin: 0;
}

.wifi-widget .widget-container .icon {
    color: var(--text);
    background: transparent;
    padding: 1px 2px;
    font-weight: 600;
}

/*                       Wi-Fi Menu                            */
.wifi-menu {
    background-color: var(--widget_bg);
    max-height: 350px;
    min-height: 375px;
    min-width: 375px;
    border-radius: 0px;
}

.wifi-menu .progress-bar {
    max-height: 1px;
}

.wifi-menu .progress-bar::chunk {
    background-color: var(--progress_bar_load);
}

.wifi-menu .header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
    padding: 6px;
    margin-left: 125px;
    background-color: var(--widget_bg);
    color: var(--text);
}

.wifi-menu .error-message {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: red;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.wifi-menu .wifi-list {
    background-color: var(--widget_bg_alt);
    margin-right: 0px;
}

.wifi-menu .wifi-item {
    min-height: 35px;
    padding: 4px 12px;
    border-radius: 0px;
}

.wifi-menu .wifi-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
}

.wifi-menu .wifi-item[active=true] {
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 14px;
    border-radius: 0px;
    padding: 0 12px 0 12px;
    min-height: 80px;
}

.wifi-menu .wifi-item .icon {
    font-family: 'Segoe Fluent Icons';
    font-size: 26px;
    margin-right: 10px;
}

.wifi-menu .wifi-item .name {
    font-size: 14px;
    margin-right: 10px;
}

.wifi-menu .wifi-item .password {
    background-color: transparent;
    font-size: 14px;
    border-radius: 0px;
    border: 1px solid var(--wifi_pass);
}

.wifi-menu .wifi-item .status {
    font-size: 14px;
}

.wifi-menu .wifi-item .strength {
    font-size: 14px;
}

.wifi-menu .wifi-item .controls-container {
    padding-top: 8px;
}

.wifi-menu .wifi-item .connect {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 4px 30px;
    border-radius: 0px;
    border: none;
    font-size: 14px;
}

.wifi-menu .wifi-item .connect:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.wifi-menu .wifi-item .connect:pressed {
    background-color: rgba(255, 255, 255, 0.3);
}

.wifi-menu .footer {
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    margin-top: 2px;
    color: var(--text_alt);
}

.wifi-menu .footer .settings-button {
    background-color: transparent;
    border: none;
    padding: 0 2px;
    min-width: 26px;
    min-height: 26px;
    border-radius: 0px;
}

.wifi-menu .footer .refresh-icon {
    font-family: 'Segoe Fluent Icons';
    background-color: transparent;
    border: none;
    min-width: 26px;
    min-height: 26px;
    color: #fff;
    border-radius: 0px;
}

.wifi-menu .footer .refresh-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
}

/*                          Battery                           */
.battery-widget .widget-container .icon {
    padding: 0px 2px;
    font-size: 12px;
}
.battery-widget .widget-container .icon.status-low {
    color: red;
    background: transparent;
}
.battery-widget .widget-container .icon.status-medium {
    color: yellow;
    background: transparent;
}
.battery-widget .widget-container .icon.status-charging {
    color: var(--text);
    background: transparent;
}

/*                          Wallpaper                          */
.wallpapers-widget {
    padding: 0 6px 0 4px;
}
.wallpapers-gallery-window {
    background-color: var(--widget_bg);
    border: 0;
    margin: 0;
}
.wallpapers-gallery-buttons {
    background-color:rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 14px;
    padding: 2px 0;
    border-radius: 8px;
    margin:0 1px 1px 1px;
    width: 600px;
}
.wallpapers-gallery-buttons:hover {
    background-color:rgba(255, 255, 255, 1)
}
.wallpapers-gallery-image {
    border: 2px solid transparent;
    border-radius: 0px;
}
.wallpapers-gallery-image:hover {
    border: 2px solid rgb(180, 180, 180);
}
.wallpapers-gallery-image.focused {
    border: 2px solid #ffffff;
}

/*                          Clock & Calendar                            */
.clock-widget .widget-container .label {
    padding: 0px 0px 0px;
}
.calendar {
    background-color: var(--widget_bg);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: var(--widget_bg_alt);
    color: rgba(197, 197, 197, 0.85);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;  
}
.calendar .calendar-table::item:selected {
    color: rgb(255, 255, 255);
}
.calendar .day-label {
    margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.calendar .month-label {
    font-weight: normal;
}
.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: -20px;
}

/*                             Memory                           */
.memory-widget .icon {
    padding: 0px 2px;
}

/*                              CPU                             */
.cpu-widget .widget-container .icon {
    padding: 0px 2px;
}

/*                          Notifications                        */
.notification-widget {
    padding: 0 3px 0 3px;
}
.notification-widget .widget-container {
	background: transparent;
	margin: 3px 0 3px 0;
}
.notification-widget .icon {
    font-size: 14px;
}
.notification-widget .icon.new-notification {
    color: var(--text);
}
.notification-widget .label.new-notification {
    color: var(--text);
}

/*                              Disk                                */
.disk-widget {
    padding: 0 2px;
}
.disk-widget .label{
    padding: 0 2px 0 6px;
}
.disk-group {
    background-color:var(--widget_bg); 
    border: 1px solid var(--widget_border);
}

/*                          Notes                       */
.notes-widget {
    padding: 0 4px 0 4px;
}
.notes-menu {
    min-width: 400px;
    max-width: 400px;
    background-color: rgba(20, 20, 20, 1);
}
.notes-menu .note-item {
    background-color:transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.notes-menu .note-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.notes-menu .note-item .icon {
    font-size: 16px;
    padding: 0 4px;
}
.notes-menu .delete-button {
    color: #ff6b6b;
    background: transparent;
    border: none;
    font-size: 8px;
    padding: 7px 8px;
    border-radius: 0px;
}
.notes-menu .delete-button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}
.notes-menu .note-item .title {
    font-size: 13px;
}
.notes-menu .note-item .date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}
.notes-menu .empty-list {
    color: rgba(255, 255, 255, 0.2);
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0 20px 0;     
}
.notes-menu .add-button,  
.notes-menu .cancel-button {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0px;
    color: white;
}
.notes-menu .cancel-button {
    margin-left: 4px;
}
.notes-menu .add-button:hover,
.notes-menu .cancel-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.notes-menu .scroll-area {
    background: transparent; 
    border: none; 
    border-radius:0;
}
.notes-menu .note-input {
    background-color:rgba(17, 17, 27, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    max-height: 30px;
    padding: 4px;
    border-radius: 0px;
}
.note-input:focus {
    border: 1px solid #717171;
}

/*                      Volume                     */
.volume-slider {
    border: none;
}
.volume-slider::groove {
    color: black;
}
.volume-slider::handle{
    color: black;
} 
.audio-menu {
    background-color:rgb(15, 15, 15); 
}
.audio-container .device {
    background-color:transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 0px;
}
.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}
.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

/*                    Weather                   */
.weather-card{
    background-color: var(--widget_bg);
    border: 1px solid var(--widget_border);
}
.weather-card-today,
.weather-card-day{
    background-color: var(--widget_bg_alt);
}

/*                  Lines-Separator             */
.separator-widget .widget-container .label{
    color: var(--line);
    padding: 0;
    margin: 0;
}

/*              Border Fixes                    */
QPushButton {
    outline: none;
    border-radius: 0px;
}

/*                  Tooltip                     */
.tooltip {
    background-color: var(--tooltip_color);
    border: 1px solid var(--widget_bg_alt);
    border-radius: 0px;
    color: var(--text);
    padding: 4px 8px;
    font-family: "JetBrainsMono NF";
    font-size: 11px;
    font-weight: 700;
    margin-top: 8px;
}

/*              Context Menu                     */
.context-menu,
.context-menu .menu-checkbox {
    background-color: var(--context_menu_bg);
    padding: 4px 0px;
    font-size: 12px;
    color: var(--text);
}
.context-menu{
    border: 1px solid var(--widget_border);
}
.context-menu::right-arrow {
    width: 8px;
    height: 8px;
    padding-right: 24px;
}
.context-menu::item,
.context-menu .menu-checkbox {
    background-color: transparent;
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: 0;
    min-width: 100px;
}
.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
    background-color: transparent;
    color: var(--text_hover);
}
.context-menu::separator {
    height: 1px;
    background-color: var(--context_menu_separator);
    margin: 4px 8px;
}
.context-menu::item:disabled {
    color: var(--context_menu_disabled);
    background-color: transparent;
}
.context-menu .menu-checkbox .checkbox {
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    margin: 0;
}
.context-menu .menu-checkbox .checkbox:hover{
    color: var(--text_hover);
}
.context-menu .submenu::item:disabled {
    margin: 0;
    padding-left: 16px;
}
.context-menu .menu-checkbox .checkbox:unchecked {
    color: var(--text_unchecked);
}
.context-menu .menu-checkbox .checkbox:unchecked:hover {
    color: var(--text_hover);
}
.context-menu .menu-checkbox .checkbox::indicator {
    width: 12px;
    height: 12px;
    margin-left: 0px;
    margin-right: 8px;
}
.context-menu .menu-checkbox .checkbox::indicator:unchecked {
    background: var(--context_menu_box_unchecked);
    border-radius: 0;
}
.context-menu .menu-checkbox .checkbox::indicator:checked {
    background: var(--context_menu_box_checked);
    border-radius: 0;
}
.context-menu .menu-checkbox .checkbox:focus {
    outline: none;
}
