general:
  # Commands to run when the WM has started. This is useful for running a
  # script or launching another application.
  # Example: The below command launches Zebar/YASB.
  startup_commands: ['shell-exec gat-gwm']
  # Commenting the above, found an issue with GlazeWM interfering with Systray in YASB

  # Commands to run just before the WM is shutdown.
  # Example: The below command kills Zebar/YASB.
  shutdown_commands: ["shell-exec taskkill /IM yasb.exe /F", "shell-exec taskkill /IM gat-gwm.exe /F"]

  # Commands to run after the WM config is reloaded.
  config_reload_commands: []

  # Whether to automatically focus windows underneath the cursor.
  focus_follows_cursor: false

  # Whether to switch back and forth between the previously focused
  # workspace when focusing the current workspace.
  toggle_workspace_on_refocus: false

  cursor_jump:
    # Whether to automatically move the cursor on the specified trigger.
    enabled: true

    # Trigger for cursor jump:
    # - 'monitor_focus': Jump when focus changes between monitors.
    # - 'window_focus': Jump when focus changes between windows.
    trigger: 'monitor_focus'

  # How windows should be hidden when switching workspaces.
  # - 'cloak': Recommended. Hides windows with no animation.
  # - 'hide': Legacy method (v3.5 and earlier) that has a brief animation,
  # but has stability issues with some apps.
  hide_method: 'cloak'

  # Affects which windows get shown in the native Windows taskbar. Has no
  # effect if `hide_method: 'hide'`.
  # - 'true': Show all windows (regardless of workspace).
  # - 'false': Only show windows from the currently shown workspaces.
  show_all_in_taskbar: false

gaps:
  # Whether to scale the gaps with the DPI of the monitor.
  scale_with_dpi: true

  # Gap between adjacent windows.
  inner_gap: "10px"

  # Gap between windows and the screen edge.
  outer_gap:
    top: "10px"
    right: "10px"
    bottom: "10px"
    left: "10px"

window_effects:
  # Visual effects to apply to the focused window.
  focused_window:
    # Highlight the window with a colored border.
    # ** Exclusive to Windows 11 due to API limitations.
    border:
      enabled: false
      color: "#FFFFFF"

    # Remove the title bar from the window's frame. Note that this can
    # cause rendering issues for some applications.
    hide_title_bar:
      enabled: false
    # Change the corner style of the window's frame.
    # ** Exclusive to Windows 11 due to API limitations.
    corner_style:
      enabled: false
      # Allowed values: 'square', 'rounded', 'small_rounded'.
      style: "square" 

    # Change the transparency of the window.
    transparency:
      enabled: false
      # Can be something like '95%' or '0.95' for slightly transparent windows.
      # '0' or '0%' is fully transparent (and, by consequence, unfocusable).
      opacity: "95%"

  # Visual effects to apply to non-focused windows.
  other_windows:
    border:
      enabled: false
      color: "#808080"
    hide_title_bar: 
      enabled: false
    corner_style: 
      enabled: false
      style: "square"
    transparency:
      enabled: false
      opacity: "0%"

window_behavior:
  # New windows are created in this state whenever possible.
  # Allowed values: 'tiling', 'floating'.
  initial_state: "tiling"

  # Sets the default options for when a new window is created. This also
  # changes the defaults for when the state change commands, like
  # `set-floating`, are used without any flags.
  state_defaults:
    floating:
      # Whether to center floating windows by default.
      centered: false
      # Whether to show floating windows as always on top.
      shown_on_top: true

    fullscreen:
      # Maximize the window if possible. If the window doesn't have a
      # maximize button, then it'll be fullscreen'ed normally instead.
      maximized: false

      # Whether to show fullscreen windows as always on top.
      shown_on_top: true

workspaces:
  - name: "1"
    # display_name: '󰈹'
    bind_to_monitor: 0
  - name: "2"
    # display_name: '󰨞'
    bind_to_monitor: 0
  - name: "3"
    # display_name: '󰭹'
    bind_to_monitor: 1
  - name: "4"
    # display_name: '󰏆'
    bind_to_monitor: 0
  - name: "5"
    # display_name: '󰂫'
    bind_to_monitor: 0
  - name: "6"
    # display_name: ''
    bind_to_monitor: 0
  - name: "7"
    # display_name: ''
    bind_to_monitor: 1
  - name: "8"
    # display_name: ''
    bind_to_monitor: 1
  - name: "9"
    # display_name: '󰻃'
    bind_to_monitor: 1

window_rules:
  - commands: ['ignore']
    match:
      # Ignores any Zebar windows.
      - window_process: { equals: 'zebar' }

      # Ignores picture-in-picture windows for browsers.
      - window_title: { regex: '[Pp]icture.in.[Pp]icture' }
        window_class: { regex: 'Chrome_WidgetWin_1|MozillaDialogClass' }

      # Ignore rules for various 3rd-party apps.
      - window_process: { equals: 'PowerToys' }
        window_class: { regex: 'HwndWrapper\[PowerToys\.PowerAccent.*?\]' }
      - window_title: { equals: 'Command Palette' }
        window_class: { equals: 'WinUIDesktopWin32WindowClass' }
      - window_process: { equals: 'PowerToys' }
        window_title: { regex: '.*? - Peek' }
      - window_process: { equals: 'Lively' }
        window_class: { regex: 'HwndWrapper' }
      - window_process: { equals: 'EXCEL' }
        window_class: { not_regex: 'XLMAIN' }
      - window_process: { equals: 'WINWORD' }
        window_class: { not_regex: 'OpusApp' }
      - window_process: { equals: 'POWERPNT' }
        window_class: { not_regex: 'PPTFrameClass' }

      # Ignores certain games (interferes with GlazeWM)
      # Feel free to add your games here
      # - window_process: { equals: "VALORANT-Win64-Shipping" }
      # - window_title: { equals: "Grand Theft Auto V" }
      # - window_title: { equals: "Saints Row" }
      # - window_process: { equals: "GhostOfTsushima" }

      # Ignores Screenshot Apps (tend to cause issue with Tiling Manager, ShareX doesn't smh. I don't understand how the f apps work, it is what it is)
      - window_process: { equals: "Lightshot" }
      - window_process: { equals: "Greenshot" }

  # Floating-required apps
  - commands: ["set-floating"]
    match:
      # Essentials
      - window_process: { regex: "winspy|explorer|qbittorrent|mmc|nvcplui|mpv|vlc|efibooteditor" }
      - window_process: { equals: "GHelper" }
      - window_process: { equals: "SmoothScrollGUI" }
      - window_process: { equals: "Heroic" }
      - window_title: { equals: "Snipping Tool" }
      - window_process: { equals: "BCUninstaller" }
      - window_process: { equals: "Photos" }
      - window_title: { equals: "Windhawk" }
      - window_process: { regex: "[Rr]adeon[Ss]oftware" }
      - window_title: { regex: "Revision Tool|Atlas Toolkit" }
      - window_process: { equals: "FileConverter" }
      - window_process: { equals: "ABDownloadManager" }
      - window_process: { equals: "ShareX" }
      - window_process: { equals: "uad-ng" }
      - window_title: { equals: "LocalSend" }
      - window_title: { regex: "[Nn]otepad*" } # For all notepad apps
      - window_title: { regex: "Sign in -" }
      - window_title: { regex: "[Aa]ctivity [Ii]nformation -*"}
      - window_process: { regex: "Flow.Launcher" }
      - window_title: { equals: "Welcome to Flow Launcher" }
      - window_title: { includes: "FLOAT" }
      - window_process: { equals: "devenv" } # Float the VS Rename dialog
        window_title: { equals: "Rename" }
      - window_process: { equals: "devenv" } # Float the VS Find and Replace dialog
        window_title: { equals: "Find and Replace" }
      - window_process: { equals: "devenv" } # Float the VS Search
        window_title: { equals: "Search" }
      - window_process: { equals: "wish" }
      - window_process: { equals: "ImageGlass" }
      - window_process: { equals: "wezterm-gui" }
      - window_process: { equals: "HandBrake" }
      - window_process: { equals: "Everything" }
      
      # System Apps
      - window_title: { equals: "Task Manager" }
      - window_title: { equals: "App Installer" }
      - window_title: { equals: "Settings" } # Change to SystemSettings
      - window_process: { regex: "cmd" }
      - window_process: { regex: "regedit" }
      - window_process: { equals: "mspaint" }
      - window_process: { equals: "ApplicationFrameHost" }
      - window_process: { equals: "Microsoft.Photos" }

      # UWP Apps
      - window_title: { equals: "DTS:X Ultra" }
      - window_title: { equals: "Character Map UWP" }
      - window_title: { equals: "Fastboot Firmware Flasher" }
      - window_title: { equals: "Realtek Audio Console" }
      - window_title: { equals: "Screenbox" }

  # Tiling Required Apps (for UWP Apps)
  - commands: ["set-tiling"]
    match:
      - window_title: { equals: "WhatsApp" } # WhatsApp
      - window_process: { equals: "devenv" } # Visual Studio (Thanks to @Miitto)
        window_title: { not_regex: "(Rename|Search|Find and Replace)" }

  # Start apps in their own workspaces (cuz i love seeing them in an instant lol)
  - commands: ["move --workspace 1", "focus --workspace 1"]
    match:
      - window_process: { regex: "zen|chrome|firefox|vivaldi|Arc|librewolf|opera" }
  - commands: ["move --workspace 2", "focus --workspace 2"]
    match:
      - window_process: { regex: "Code|Trae|Cursor|Windsurf|Zed" }
  - commands: ["move --workspace 3", "focus --workspace 3"]
    match:
      - window_process:
          { regex: "Equibop|Discord|Vesktop|Goofcord|Webcord|Legcord|Dorion" }
      - window_title: { equals: "WhatsApp" }
      - window_title: { equals: "Unigram" }
      - window_title: { equals: "Telegram" }
      - window_title: { equals: "Signal" }
  - commands: ["move --workspace 4", "focus --workspace 4"]
    match:
      - window_process: { equals: "WINWORD" }
      - window_process: { equals: "POWERPNT" }
      - window_process: { regex: "EXCEL" }
  - commands: ["move --workspace 6", "focus --workspace 6"]
    match:
      - window_process: { equals: "Riot Client" }
      - window_process: { equals: "gta5" }
      - window_process: { equals: "Heroic" }
      - window_process: { regex: "steam" }
      - window_process: { equals: "PC7" }
  - commands: ["move --workspace 7", "focus --workspace 7"]
    match:
      - window_process: { regex: "Spotify" }
  - commands: ["move --workspace 8", "focus --workspace 8"]
    match:
      - window_title: { equals: "UniGetUI" }
  - commands: ["move --workspace 9", "focus --workspace 9"]
    match:
      - window_process: { regex: "obs64" }

keybindings:
  # Shift focus in a given direction.
  - commands: ["focus --direction left"]
    bindings: ["alt+left"]
  - commands: ["focus --direction right"]
    bindings: ["alt+right"]
  - commands: ["focus --direction up"]
    bindings: ["alt+up"]
  - commands: ["focus --direction down"]
    bindings: ["alt+down"]

  # Move focused window in a given direction.
  - commands: ["move --direction left"]
    bindings: ["alt+shift+left"]
  - commands: ["move --direction right"]
    bindings: ["alt+shift+right"]
  - commands: ["move --direction up"]
    bindings: ["alt+shift+up"]
  - commands: ["move --direction down"]
    bindings: ["alt+shift+down"]

  # Resize focused window by a percentage or pixel amount.
  - commands: ["resize --width -2%"]
    bindings: ["alt+ctrl+left"]
  - commands: ["resize --width +2%"]
    bindings: ["alt+ctrl+right"]
  - commands: ["resize --height +2%"]
    bindings: ["alt+ctrl+up"]
  - commands: ["resize --height -2%"]
    bindings: ["alt+ctrl+down"]

  # As an alternative to the resize keybindings above, resize mode enables
  # resizing via arrow keys or HJKL. The binding mode is defined above with
  # the name 'resize'.
  # - commands: ['wm-enable-binding-mode --name resize']
  #   bindings: ['alt+r']

  # Disables window management and all other keybindings until alt+shift+p
  # is pressed again.
  - commands: ["wm-toggle-pause"]
    bindings: ["alt+shift+p"]

  # Change tiling direction. This determines where new tiling windows will
  # be inserted.
  - commands: ["toggle-tiling-direction"]
    bindings: ["alt+v"]

  # Change focus from tiling windows -> floating -> fullscreen.
  - commands: ["wm-cycle-focus"]
    bindings: ["alt+space"]

  # Change the focused window to be tiling/floating
  - commands: ["toggle-tiling"]
    bindings: ["alt+t"]

  # Change the focused window to be fullscreen.
  - commands: ["toggle-fullscreen"]
    bindings: ["alt+f"]

  # Minimize focused window.
  - commands: ["toggle-minimized"]
    bindings: ["alt+m"]

  # Close focused window.
  - commands: ["close"]
    bindings: ["alt+q"]

  # Re-evaluate configuration file.
  - commands: ["wm-reload-config"]
    bindings: ["alt+shift+r"]

  # Redraw all windows.
  - commands: ["wm-redraw"]
    bindings: ["alt+shift+w"]

  # Launch CMD terminal. Alternatively, use `shell-exec wt` or
  # `shell-exec %ProgramFiles%/Git/git-bash.exe` to start Windows
  # Terminal and Git Bash respectively.
  - commands: ["shell-exec wt"]
    bindings: ["alt+enter"]

  # Open Debian
  - commands: ["shell-exec wt -p Debian"]
    bindings: ["alt+shift+enter"]

  # Focus the next/previous active workspace defined in `workspaces` config.
  - commands: ["focus --next-active-workspace"]
    bindings: ["alt+d"]
  - commands: ["focus --prev-active-workspace"]
    bindings: ["alt+a"]
  
  # Move window to next/previous active workspace
  - commands: ["move --next-active-workspace", "focus --next-active-workspace"]
    bindings: ["alt+shift+a"]
  - commands: ["move --prev-active-workspace", "focus --prev-active-workspace"]
    bindings: ["alt+shift+d"]

  # Change focus to a workspace defined in `workspaces` config.
  - commands: ["focus --workspace 1"]
    bindings: ["alt+1"]
  - commands: ["focus --workspace 2"]
    bindings: ["alt+2"]
  - commands: ["focus --workspace 3"]
    bindings: ["alt+3"]
  - commands: ["focus --workspace 4"]
    bindings: ["alt+4"]
  - commands: ["focus --workspace 5"]
    bindings: ["alt+5"]
  - commands: ["focus --workspace 6"]
    bindings: ["alt+6"]
  - commands: ["focus --workspace 7"]
    bindings: ["alt+7"]
  - commands: ["focus --workspace 8"]
    bindings: ["alt+8"]
  - commands: ["focus --workspace 9"]
    bindings: ["alt+9"]

  # Move focused window to a workspace defined in `workspaces` config.
  - commands: ["move --workspace 1", "focus --workspace 1"]
    bindings: ["alt+shift+1"]
  - commands: ["move --workspace 2", "focus --workspace 2"]
    bindings: ["alt+shift+2"]
  - commands: ["move --workspace 3", "focus --workspace 3"]
    bindings: ["alt+shift+3"]
  - commands: ["move --workspace 4", "focus --workspace 4"]
    bindings: ["alt+shift+4"]
  - commands: ["move --workspace 5", "focus --workspace 5"]
    bindings: ["alt+shift+5"]
  - commands: ["move --workspace 6", "focus --workspace 6"]
    bindings: ["alt+shift+6"]
  - commands: ["move --workspace 7", "focus --workspace 7"]
    bindings: ["alt+shift+7"]
  - commands: ["move --workspace 8", "focus --workspace 8"]
    bindings: ["alt+shift+8"]
  - commands: ["move --workspace 9", "focus --workspace 9"]
    bindings: ["alt+shift+9"]
